<nav>
    <div class="flex flex-column align-items-center">
        <header>
            <a routerLink="/" class="flex align-items-center justify-content-center">
                <img src="../../../assets/materialmusic.png" alt="logo" />
            </a>
        </header>

        <div class="section">
            <a routerLink="/" routerLinkActive="active">
                <i class="material-symbols-outlined">home</i>
                <span>Home</span>
            </a>

            <a routerLink="/recents" routerLinkActive="active">
                <i class="material-symbols-outlined">history</i>
                <span>Recents</span>
            </a>

            <a routerLink="/library"  routerLinkActive="active">
                <i class="material-symbols-outlined">library_music</i>
                <span>Library</span>
            </a>
        </div>
    </div>
</nav>
